.logo{
    margin-left: 45%;
}
.logo img{
    height: 100px;
}
#nav{
    text-align: center;
    margin-top: 10px;
}
#nav > a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}

#nav > a:visited{
    color: aqua;
}
#nav > a:hover{
    color: red;
    text-decoration: underline;
}