.wrapper {
    outline: none;
    min-height: 20px;
    min-width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-text-primary);
    background-color: transparent;
    overflow: hidden;
    text-transform: capitalize;
    user-select: none !important;
    border: none;

    &.disabled {
        opacity: 0.6;
        user-select: none;
        pointer-events: none;
    }

    & .icon-left {
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .icon-right {
        margin-left: 8px;
    }

    & ~ a,
    & ~ button {
        margin-left: 15px;
    }
}

.small,
.invadersW {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.small {
    min-height: 28px;
    padding: 0 10px;
    min-width: 88px;
}

.primary,
.medium {
    min-width: 110px;
    padding: 6px 8px;
    height: 36px;
    background-color: transparent;
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 700;
    border: none;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.circle {
    border-radius: 50%;
    min-height: 32px;
    min-width: 32px;
    border: none;
    color: var(--color-white);
    fill: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.invadersW {
    width: 100%;
    min-height: 48px;
    padding: 5px 10px;
}
