.wrapper {
    width: var(--w-sidebar);
    padding: 24px 12px 26px 8px;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective-origin: right top;
    &::-webkit-scrollbar{
        display: none;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        width: 6px;
        border-radius: 3px;
        background: rgba(22, 24, 35, .06);
    }
    &:hover::-webkit-scrollbar {
        display: block;
    }
}

.menu-sidebar {
    margin-bottom: 8px;
}

.user {
    & .not-login{
        padding: 24px 12px 28px;
        border-top: 1px solid #e1e2e3;
        & .user-content {
            font-size: 1.6rem;
            color: #16182380;
            line-height: 1.6;
            font-family: var(--font-primary);
            font-weight: 400;
            margin-bottom: 20px;
        }
        & .btn-sidebar_login{
            margin-left: -10px;
        }
    }
}

.content {
    flex: 1;
}
