#header{
    height: 135px;
    box-shadow: 0 1px #cec9c9;
}
.header-top{
    height: 34px;
    background-color: #EE4D2D;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
}
.navbar__item{
    list-style: none;
    padding:0 ;
    display: flex;
    border-left: 1px solid #0000;
}
.navbar__item-list{
   padding-right: 10px;
   display: flex;
   position: relative;
}
.navbar__item-list::after{
    content: " ";
    display: block;
    width: 2px;
    border-left: 1px solid #0000;
}
.item-list-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-while-header-color);
   padding: 4px;
}

.navbar__item-list:last-child .item-list-link:hover{
    color: var(--text-while-header-color);
}
.navbar-personal-item::after,
.navbar__item-border > .navbar__item-list::after {
    content: " ";
    display: inline-block;
    border: 1px solid #fa725d;
    width: 0px;
    height: 12px;
    position: relative;
    top: calc( 50% - 7px);
    left: 5px;
}
.navbar__item-list:last-child .item-list-link{
    cursor: text;
}
.navbar-personal-item:last-child::after,
.navbar__item-list:last-child::after{
    border: none;
}
.navbar__list-icon{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: 1px;
}
.list-item-link-icon{
    list-style: none;
    color: var(--text-while-header-color);
    text-decoration: none;
    margin-right: 7px;
    position: relative;
    top: calc(50% - 12px);
}
.item-list-link-fa-facebook{
    font-size: 1.4rem;
    margin-bottom: 1px;
    line-height: 1.4rem;
}
.item-list-link-fa-instagram{
    font-size: 1.6rem;
    line-height: 1.6rem;
    position: relative;
    top: calc(50% - 11px);
}
/* describe : mieu ta */
.navbar__item-describe-icon{
    margin-right: 2px;
    font-size: 1.5rem;
}
.navbar__item-describe-icon-down{
    position: relative;
    margin-left: 3px;
    top: 1px;
    font-size: 1.4rem;
}
.personal__befone-login{
    display: flex;
    padding: 0;
    list-style: none;
    line-height: 24px;
    margin-right: 10px;
}
.navbar-personal-item{
    margin-right: 10px;
}
.navbar-personal-item-link{
    font-size: 1.4rem;
    color: var( --text-while-header-color);
    text-decoration: none;
    padding: 4px;
}
.navbar-personal-item::after{
    position: relative;
    top: calc( 50% - 11px);
    left: 5px;
}
/* download shoppee */
.download-shoppee{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(---background-header-color);
    padding: 2px;
    width: 184px;
    border-radius: 3px;
    box-shadow: 1px 1px rgba(0,0,0,5%);
    overflow: hidden;
    display: none;
    z-index: 10;
}

.download-shoppee__qr-link img{
    width: 100%;
    height: 180px;
}
.download-soppee__app{
   display: flex;
   flex-wrap:wrap;
   align-items: center;
   padding: 1px 15px 9px;
   justify-content: space-between;
}
.download-soppee__app-item{
    width: calc(50% - 5px);
    margin-top: 5px;
}
.download-soppee__app-item img{
    width: 100%;
}
.navbar__bell{
    position: absolute;
    width: 400px;
    background-color: var(---background-header-color);
    top: calc(100% + 9px);
    right: 0;
    box-shadow: 0 0 2px rgb(0 0 0 / 26%);
    border-radius: 3px;
    animation: fadeIn ease 0.2s;
    display: none;
    z-index: 10;
}
/* has login */
.has-notification{
    width: 100%;
}
.has-notification__heading{
    font-size: 1.5rem;
    color: #d5d5d5;
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 300;
    justify-content: left;
}
.has-notification-list{
    padding: 0;
    max-height: 531px;
    overflow: hidden;
}
.list-item-new-notification{
    background-color: #fff2ee;
}
.has-notification__list-item{
    list-style: none;
    max-height: 88px;
    width: 100%;
}
.has-notification__list-item-link{
    display: flex;
    text-decoration: none;
    padding: 12px 10px;
}
.has-notification__list-item-link img{
    width: 40px;
    height: 40px;
    margin:5px  5px 0 0;
    border-radius: 3px;
}
.has-notification__information-heading{
    font-size: 1.4rem;
    max-height: 2.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
    color: #555555;
}
.has-notification__information-content{
    font-size: 1.1rem;
    max-height:48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical ;
    margin-bottom: 5px;
    line-height: 1.5;
    color: #cccccc;
}
.has-notification__button{
    width: 100%;
    height: 40px;
    color: var(--text-color);
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 400;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.has-notification__list-item:hover,
.has-notification__button:hover{
    background-color: #f5f5f5;
}
/* no login */
.bell__no-login{
    width: 100%;
    height: 350px;   
}
.navbar__bell::after{
    content: " ";
    display: block;
    position: absolute;
    border-width: 14px 17px;
    border-color: transparent transparent var(---background-header-color) transparent;
    border-style: solid;
    top: -28px;
    right: 23px;
}
.navbar__bell::before{
    content: " ";
    display: block;
    position: absolute;
    height: 21px;
    width: 100%;
    top: -21px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bell__no-login-header{
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.bell__no-login-header img{
    width: 100px;  
}
.bell__no-login-header-content{
    font-size: 1.3rem;
    padding-top: 10px;
    color: var(--text-color);
}
.bell__no-login-button{
    display: flex;
    width: 100%;
}
.bell__button-item{
    flex: 1;
    height: 40px;
    background-color: #f5f5f5;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    color: var( --text-color);
}
.bell__button-item:hover{
    background-color: #e8e8e8;
   color: var(--hover-color);
}
.navbar__language-list{
    position: absolute;
    padding: 0;
    list-style: none;
    background-color: var(---background-header-color);
    width: 200px;
    right: 17px;  
    top: calc(100% - -7px);
    border-radius: 3px;
    box-shadow: 0 0  3px rgb(0 0 0 / 26%);
    display: none;
    z-index: 10;
}
.navbar__language-list::after{
    content: " ";
    display: block;
    border-width: 11px 14px;
    border-color: transparent transparent var(---background-header-color) transparent;
    border-style: solid;
    position: absolute;
    top: -22px;
    right: 29px;
}
.navbar__language-list::before{
    content: " ";
    display: block;
    width: 100%;
    height: 23px;
    position: absolute;
    top: -19px;
    right: 0;
}
.language__list-item{
    color: var(--text-color);
    width: 100%;
    line-height: 20px;
    padding: 10px;
}
.language__list-item:hover{
    color: var(--hover-color);
}
/* after login */
.personal__after-login{
    margin-left: 11px;
    position: relative;
   
}
.personal__after-login:hover > .after-login__menu-list{
    display: block;
}
.personal__after-login-link{
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;
}
.background__avatar{
    background-image: url(../img/avatar/nh-dai-dien-FB-mac-dinh-nu-800x800.jpg);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    top: 2px;
    background-size: 20px;
}
.personal__after-login-name{
    font-size: 1.3rem;
    color: var(--text-while-header-color);
    position: relative;
    top: 5px;
}
.personal__after-login:hover .personal__after-login-name{
    color: #fcc7a9;
}
.after-login__menu-list{
    width: 150px;
    position: absolute;
    padding: 0;
    top: calc(100% + 12px);
    background-color: #ffff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0,0,10%);
    border: 1px solid #fcc7a9;
    z-index: 1000000;
    display: none;
}
.after-login__menu-list::before{
    display: block;
    content: " ";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15%;
}
.after-login__menu-list::after{
    content: " ";
    display: block;
    border-width: 14px 14px;
    border-color: transparent transparent var(---background-container-color) transparent;
    border-style: solid;
    position: absolute;
    top: -28px;
    right: 41%;
}
.after-login__menu-list-item{
    height: 40px;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}
.after-login__menu-list-item:hover .after-login__menu-list-item-link {
    color:  #00b38e;
    background-color: #f5f5f5f5;
}
.after-login__menu-list-item-link{
    font-size: 1.4rem;
    padding: 11px;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
}
.header-bottom{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    height: 101px;
    background-color: #ffff;
    justify-content: space-between;
}
.header-bottom__logo{
    font-size: 2rem;
    color: #ff5200;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.header-bottom__logo a{
    text-decoration: none;
    color: var(--text-color);
}
.header-bottom__logo-img{
    width: 100px;
    margin-right: 15px;
}
.header-bottom__logo-heading{
    border-left:  1px solid #EE4D2D;
    padding-left: 15px;
}
.header-bottom__logo-search{
    width: 621px;
    height: 40px;
    border: 1px solid #ee4d2d;
    border-radius: 2px;
    display: flex;
    overflow:hidden;
}
.header-bottom__input-search{
    width: calc(100% - 80px);
    height: 100%;
    outline: none;
    border: none;
    padding-left:15px ;
    font-size: 1.5rem;
}
.header-bottom__input-search::placeholder{
    font-size: 1.5rem;
    color: #cec9c9;
    position: relative;
    top: 3px;
}
.header-bottom__input-icon{
    width: 80px;
    background-color: #ee4d2d;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 19px; 
    cursor: pointer;
}
.header-bottom__input-icon:hover{
    opacity: 0.9;
}
#container{
    padding-top:15px;
    background-color: var( --background-container-product-cart);
    background-color: #f5f5f5f5;
    padding-bottom: 30px;
}
.container__ship{
    display: flex;
    font-size: 1.2rem;
    background-color: #fffefb;
    border: 1px solid #f3db97;
    height: 43px;
    padding: 10px 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 2px;
}
.container__ship-icon{
    color: #00b38e;
    margin-right: 10px;
}
.container__cart-product{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,10%);
}

.cart-product__header{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content:space-between;
    border-radius: 3px;
    padding: 20px 15px;
    background-color: #ffff;
    box-shadow: 0 0 2px rgba(0, 0,0,10%);
}
.cart-product__check {
    margin-right: 10px;
    position: relative;
    top: -2px;
    display: inline-block;
}

.cart-product__header-heading:nth-child(2){
    color: rgba(0,0,0,.8);
    width: 46.27949%;
    text-align: left;
}
.cart-product__header-heading{
    text-align: center;
    width: 16%;
}
.container__cart-product-body{
    margin-top: 20px;
}
.container__cart-product-label{
    padding: 0 15px;
    background-color: #ffff;
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
}
.product-label__like{
    background-color: #EE4D2D;
    color: #ffff;
    padding: 2px 4px;
    border-radius: 2px;
}
.container__cart-product__name-shop{
    margin: 0 10px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.container__cart-product__name-shop a{
    text-decoration: none;
    color: var(--text-color);
}
.container__cart-product__icon{
    color: #EE4D2D;
    font-size: 1.4rem;
    cursor: pointer;
}
.container__cart-product-information{
    background-color: #ffff;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}
.container__cart-product-information > div{
    flex: 1;
}
.container__cart-product-information-product{
    display: flex;
}
.container__cart-product img{
    max-width: 80px;
}
.cart-product__name{
    max-width: 230px;
    align-self: flex-start;
    padding: 5px 20px 0 10px;
}
.cart-product__name a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #555555;
    line-height: 16px;
}
.cart-product__name-label img{
   min-width: 226px;
   height: 18px;
   margin-top: 5px;
}
.cart-product__price{
    display: flex;
}
.cart-product__classify-heading{
    font-size: 1.3rem;
    color: #757575;
    font-weight: 400;
    cursor: pointer;
}
.cart-product__classify-heading i{
    font-size: 1.2rem;
    
}
.cart-product__classify-content{
    font-size: 1.3rem;
    color: #757575;
    margin-top: 5px;
    font-weight: 400;
}
.cart-product__price{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}
.cart-product__price-old{
    margin-right: 10px;
    color: #757575;
    text-decoration: line-through;
}
.cart-product__amount{
    display: flex;
    justify-content: center;
    height: 32px;
    align-items: center;
}
.cart-product__amount i{
    border:1px solid rgba(0, 0,0,10%);
    height: 100%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.6;
    background-color: #ffff;
}
.cart-product__amount span{
    width: 50px;
    border:1px solid rgba(0, 0,0,10%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-product__money{
    text-align: center;
    font-size: 1.3rem;
    color: var( --text--price-color);
}
.cart-product__detale{
    text-align:center;
    font-size: 1.3rem;
    cursor: pointer;
}
.cart-product__detale:hover{
    color: var(--hover-color);
}
.container__cart-product-events{
    background-color: #ffff;
    padding: 15px;
}
.events__sale{
    padding: 0 15px;
}
.container__cart-product-events i{
    color: #EE4D2D;
    font-size: 1.6rem;
    margin-right: 20px;
}
.container__cart-product-events span{
    font-size: 1.3rem;
    cursor: pointer;
    color: #52B6E9;
}
.container__buy{
    position: sticky;
    z-index: 100;
    bottom: 0;
    box-shadow:0 0 2px rgb(0 0 0 / 26%);
    margin: 20px 0;
}
.buy__voucher{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #ffff;
    height: 46px;
    font-size: 1.6rem;
}
.buy__voucher-heading{
    margin-right: 100px;
} 
.buy__voucher-heading i{
    color: #EE4D2D;
    margin-right: 10px;
}
.buy__voucher button{
   margin-right: 30px;
    color: #EE4D2D;
    font-size: 1.6rem;
}
.buy__money-shopee{
    border-top: 1px dotted #E7E7E7;
    border-bottom: 1px dotted #E7E7E7;
    height: 50px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.buy__money-shopee input{
    margin-right: 20px;
    cursor:no-drop ;
}

.shopee-svg-icon{
    width: 15px;
    margin-right: 8px;
   
}
.buy__money-shopee--img {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1.3rem;
    opacity: 0.3;
}
.buy__money-shopee--img div{
    
}
.buy__money-shopee--heading {
    display: flex;
    font-size: 1.3rem;
    margin-right: 200px;
   opacity: 0.6;
}
.buy__money-shopee--heading i{
    margin-left: 10px;
}
.buy__money-shopee--price {
    display: flex;
    font-size: 1.4rem;
    margin-right: 30px;
    opacity: 0.5;
}
.buy__money-shopee--price  div{
    font-size: 1.3rem;
    text-transform: none;
    margin-right: 2px;
    
}
.buy__manipulation{
    display: flex;
    align-items: center;
    background-color: var(---background-container-color);
    height: 67px;
    font-size: 1.6rem;
    padding: 0 19px;
}
.bay__manipulation--check-box{
    display: flex;
    align-items: center;
}
.bay__manipulation--check-box input{
    margin-right: 25px;
}
.bay__manipulation--check-box div{
    cursor: pointer;
}
.bay__manipulation--check-box div:hover{
    opacity: 0.8;
}
.buy__manipulation-button {
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.buy__manipulation-button button{
    margin: 0 8px;
    font-size: 1.5rem;
}
.buy__manipulation-button-like{
    color: #EE4D2D;
}
.buyment__price{
    display: flex;
    color: #EE4D2D;
}
.buy__manipulation--buyment{
    display: flex;
    align-items: center;
    border-radius: 2px;
}
.buyment__amount{
    margin-right: 5px;
    font-size: 1.5rem;
}
.buyment__price{
    font-size: 1.8rem;
}
.buyment__price div{
    font-size: 1.4rem;
    text-decoration: line-through;
    margin-right: 2px;
    text-transform: none;
}
.btn.buyment-button{
    background-color: #EE4D2D;
    width: 210px;
    color: #ffff;
    height: 40px;
    font-size: 1.6rem;
    border-radius: 2px;
    margin-left: 20px;
}
.btn.buyment-button:hover{
    opacity: 0.9;
}
.trend__header-border:last-child .trend__product{
    border: none;
}
.trend__header-heading{
    color: #0000008a;
    padding: 20px 0;
}
.trend__header-show-all{
    color: #ee4d2d;
}
.trend__header-show-all i{
    font-size: 1.3rem;
    margin-right: 1px;
    position: relative;
    top: 1px;

}
.suggest-product-heading{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.suggest__body{
    padding-top: 5px;
    background-color: #f5f5f5;
}
.suggest__product {
    height: 288px;
    box-shadow: 0 0 1px rgb(0 0 0 / 50%);
    margin-bottom: 20px;
    position: relative;
    transition: transform linear 0.1s;
}
.suggest__product-link{
    text-decoration: none;
}
.suggest__product:hover::after{
    display: flex;
}
.suggest__product:hover{
    transform: translateY(-2px);
    z-index: 2;
}
.suggest__product-img{
    padding-top: 188px;
    background-size:cover;
    background-repeat: no-repeat;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.suggest__product-information{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.information-name{
    font-size: 1.4rem;
    color: var(--text-color);
    height: 3.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.information__price-quantity{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.information-price{
    font-size: 1.5rem;
    color: #ee4d2d;
    line-height: 19px;
}
.information-price__value{
    font-size: 1.2rem;
    text-transform: none;
    position: relative;
    right: -2px;
}
.information-price-quantity{
    font-size: 1.2rem;
    color: #757575;
    letter-spacing: 1px;
}
.suggest__product__sale{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 32px;
    background-color: #f5d932;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    cursor: pointer;
}
.suggest__prodcut__percent{
    font-size: 1.1rem;
    color: #ee4d2d;
}
.suggest__product__label{
    font-size: 1.1rem;
    color: #ffff;
    text-transform: uppercase;
}
.suggest__product__label::after{
    content: " ";
    display: block;
    border-width: 0 17px 4px;
    border-color: red #f5d932 transparent #f5d932;
    border-style: solid;
    top: 32px;
    position: absolute;
    right: 1px;
    opacity: 0.8;
} 
.suggest__product-like{
    background-color:  rgb(242, 82, 32);
    color: #fff;
    width: 60px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1px 0;
    position: absolute;
    top: 10px;
    left: -4px;
    display: none;
}
.suggest__product-like::after{
    content: " ";
    display: block;
    border-top-color: rgb(242, 82, 32);
    border-left: transparent;
    border-bottom-color: transparent;
    border-right-color: rgb(242, 82, 32);
    border-width: 3px 2px;
    border-style: solid;
    position: absolute;
    top: 16px;
}
.suggest__product-mall{
    position: absolute;
    background-color: #d0011b;
    width: 28px;
    line-height: 15px;
    font-size: 1.2rem;
    color:#fff;
    position: absolute;
    top:18px;
    left: -6px;
    padding: 1px 2px 1px ;
    display: none;
}
.suggest__product-mall::after{
    content: " ";
    display: block;
    border-style: solid;
    border-width: 3px 3px;
    border-top-color: #d0011b;
    border-left-color: transparent;
    border-right-color: #d0011b;
    border-bottom-color: transparent;
    position: absolute;
    top: 17px;
    right: 22px;
}
.suggest__product-sponsor{
    font-size: 1rem;
    color: #fff;
    background-color: #7e7665;
    position: absolute;
    padding: 1px 2px;
    opacity: 0.6;
    right: 10px;
    top: 50%;
    display: none;
}
.suggest__product-banner-sale img{
    position: absolute;
    top: 13%;
    width: 150px;
}
#footer{
    border-top: 4px solid #ee4d2d;
}
.footer__Service {
    margin-top: 40px;
}
.footer-heading{
    color: #73787E;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.footer__list{
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}
.footer__list-logo{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 17px 17px 0
}
.footer__list-logo-item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0 8px 8px 0;
}
.footer__list-item{
    margin-bottom:12px;
    font-size: 1.2rem;
}
.footer__list-item a{
    text-decoration: none;
    color: #B7B7B7;
    padding: 2px 0;
    display:flex;
    align-items: center;
}
.footer__list-item a:hover{
    color: #EF4D5B;
}
.footer__list-item-icon{
    margin: 0 10px 0 3px;
    color: #4C4C4C;
    font-size: 1.6rem;
}
.footer__download{
    display: flex;
    align-items: center;
}
.footer__download-wq img {
    max-width: 86px;
    border: 1px solid #F1F1F1;
}
.footer__download-list{
    list-style: none;
    text-decoration: none;
    padding-left:15px;
}
.footer__text-address{
    border-top:1px solid #F2F2F2 ;
    padding: 40px 0;
}
.footer__download-item-link img{
    width: 80px;
    height: 20px;
}
.footer__text{
    font-size: 1.4rem;
    margin-right: 60px;
    color: #868491;
}
.footer___address-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex: 1;
    margin: auto;
    justify-content: center;
    margin-left: auto;
    padding: 0;  
}
.footer__address-list-item{ 
    border-right: 1px solid rgba(0,0,0,.2); 
    color: #868491;
    font-size: 1.4rem;
}
.footer__address-list-item-heading{
    margin-left: auto;
}
.footer__address-list-item a{
    color: #868491;
    padding:2px 5px;
    text-decoration: none;
}
.footer__address-list-item:first-child,
.footer__address-list-item:last-child{
   border: none;
}
.footer__end-sphopee{
    background-color: #f5f5f5;
    padding-bottom: 40px;
}
.footer__list-policy{
    display: flex;
    justify-content:center;
    list-style: none;
    padding: 42px 0 37px;
    cursor: pointer;
}
.footer__list-policy--item a{
    font-size: 1.4rem;
    border-right: 1px solid #c9c9c9;
    padding: 0 25px;
    color: #707070;
    font-weight: 400;
    line-height: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
}
.footer__list-policy--item:last-child{
    border: none;
}
.footer__list_license{
    display: flex;
    justify-content: center;
}
.footer__list-license-item{
    list-style: none;
    margin: 0 20px;
}
.license-item-link{
   display: block;
}
.footer__name-company{
    text-align: center;
    font-size: 1.2rem;
    color: var(--footer--text-end);
    padding: 8px 0 25px 0;
}
.footer__phone{
    text-align: center;
    font-size: 1.2rem;
    color: var(--footer--text-end);
}
 .footer__phone-container{
    margin-top: 8px;
}
/* modal */
.modal{
    background-color: #e1e1e1d3;
    display:flex ;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999;
}
.modal-banner{
    margin: auto;
    position: relative;
}
.modal-banner__hide {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #ffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
}
.modal-banner__hide i{
    margin: auto;
    font-size: 1.7rem;
    color: #868491;
}
/* messenger */

/*  */