:root{
    --black--color:#000;
    --text--color:#333;
    --F69113--color: #ee4d2d;
    --border--color:#dbdbdb;
    --while--color:#fff;
    --navbar--height:31px;
    --navbar--header:120px;
    --header--with-search-height:calc(var(--navbar--header) - var(--navbar--height));
    --footer--text-end:#565656;
    --text-color:#222222;
    --hover-color:#ee4d2d;
    --text-while-header-color:#ffff;
    ---background-header-color:#ffff;
    ---background-while-button-color:#ffff;
    ---background-container-color:#ffff;
    --text--price-color:#ee4d2d;
    --header--height: 130px;
}
*{
    box-sizing: inherit;
    text-transform: capitalize;
}
html{
    /* 62.5%=10px 100%=16px */
    font-size:62.5%;
    line-height: 1.6em;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}
.grind{
    width:1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grind__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grind__column-2{
    padding-left:5px ;
    padding-right: 5px;
    width: 16.6667%;
}
.grind__column-10{
    padding-left:5px ;
    padding-right: 5px;
    width: calc(100% - 16.6667%);
}
.grind__column-2-4{
    padding-left:5px ;
    padding-right:5px;
    width: 20%;
}
/* gir */
.shopee-drawer__contents{
    position:absolute;
    top:100%;
    z-index: 9999;
}
.search__cart:hover .search__cart-product,
.navbar__item-list:hover .download-shoppee,
.navbar__item-list:hover  .navbar__language-list,
.search__input-text:focus ~ .input-frames__wrap-history-list,
.navbar__item-list:hover  > .navbar__bell{
    display: block;
}
.category__click--show-all-item  .show-all__list,
.header__navbar-user:hover .header__user--menu,
.selection-input:hover .selection-input__label-list,
.header__cart-wrap:hover .header__ws-cart-list-item,
.header__ws-search-input:focus ~ .header__ws-search-history,
.header__search-input-select:hover .header__label--option,
.hd_navbar-item-link-notification:hover .header__notification,
.selection-input__label-list-check .selection-input__label-list--item-icon,
.hd__navbar--item-hvqr:hover .shopee-drawer__contents .navbar__item-download{
    display:block;
}

.btn{
    min-width: 124px;
    height: 36px;
    border: none;
    cursor:pointer;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    color: var(--text--color);
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--while--color);
} 
.btn__hover--09:hover{
    background-color: rgba(0, 0,0, 0.09);
}
.btn.btn--primary{
    background-color: var(--F69113--color);
    color: var(--while--color);
}
.btn.btn--disabled{
    color: #cccc;
    cursor: default;
    background-color: #999;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.filter__list-button-btn{
    width: calc(100% - 12px);
    margin: 20px 0 0 6px;
    height: 29px;
    border: none;
    background-color: #ee4d2d;
    color: var(--while--color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 2px;
    padding: 1px 6px;
    cursor: pointer;
}
/*  */
.font__size-18px{
    font-size: 1.8rem !important ;
}
.margin--l12px{
    margin-left: 12px !important;
}
/* @ keyframes */
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: scale(0);
       
    }
    100%{
       opacity: 1;
        transform: scale(1);
    }
}
@keyframes growth {
    form{
        transform: scale(var(--growth-form));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* list  show-all */

/* selection input */
.selection-input{
    min-width: 200px;
    padding: 0 12px;
    height: 34px;
    background-color: var(--while--color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:2px ;
}
.selection-input__label{
    font-size: 1.4rem;
}

.selection-input-icon{
    color: #4a4a4a;
    font-size: 1.7rem;
    position: relative;
    top: -2px;
}
/* background logo */
.background-logo{
    background-image: url(../img/logoCCDV/4bdefde103e8aa245cd17511adde9f89.png);
}
.background-logo-cdd{
    background-size: 617.5% 393.3333333333333%;
    background-position: 34.13848631239936% 84.0909090909091%;
    width: 120px;
    height: 45px;
}
.background-logo-Regulation{
    background-size: 1543.75% 368.75%;
    background-position: 100% 35.65891472868217%;
    width: 48px;
    height: 48px;
}
.background-logo-visa{
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 84.6938775510204% 6.289308176100629%;
    width: 55px;
    height: 24px;
}
.background-logo-jcb{
    background-size: 1347.2727272727273% 769.5652173913044%;
    background-position: 38.48396501457726% 38.311688311688314%;
    width: 55px;
    height: 23px;
}
.background-logo-mastercard{
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 49.416909620991255% 41.891891891891895%;
    width: 55px;
    height: 29px;
}
.background-logo-amex{
    background-size: 1482% 804.5454545454545%;
    background-position: 1.447178002894356% 6.451612903225806%;
    width: 55px;
    height: 24px;
}
.background-logo-cod{
    background-size: 1482% 610.3448275862069%;
    background-position: 59.91316931982634% 63.513513513513516%;
    width: 50px;
    height: 29px;
}
.background-logo-traGop{
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 19.97084548104956% 66.21621621621621%;
    width: 55px;
    height: 29px;
}
.background-logo-shopeePay{
    background-size: 741% 931.578947368421%;
    background-position: 71.9188767550702% 6.329113924050633%;
    width: 55px;
    height: 12px;
}
.background-logo-xpress{
    background-size: 667.5675675675676% 983.3333333333334%;
    background-position: 65.71428571428571% 35.22012578616352%;
    width: 55px;
    height: 10px;
}
.background-logo-ghtk{
    background-size: 1347.2727272727273% 983.3333333333334%;
    background-position: 19.97084548104956% 37.735849056603776;
    width: 55px;
    height: 18px;
}
.background-logo-ghn{
    background-size: 1347.2727272727273% 610.3448275862069%;
    background-position: 9.037900874635568% 40.54054054054054%;
    width: 55px;
    height: 29px;
}
.background-logo-viettel{
    background-size: 578.90625% 138.28125%;
    background-position: 88.90701468189233% 100%;
    width: 55px;
    height: 40px;
}
.background-logo-vnpost{
    background-size: 1347.2727272727273% 655.5555555555555%;
    background-position: 1.4577259475218658% 72.66666666666667%;
    width: 55px;
    height: 27px;
}
.background-logo-l-t{
    background-size: 1347.2727272727273% 1106.25%;
    background-position: 95.6268221574344% 6.211180124223603%;
    width: 55px;
    height: 16px;
}
.background-logo-grab{
    background-size: 552.9850746268656% 610.3448275862069%;
    background-position: 29.9835255354201% 6.756756756756757%;
    width: 55px;
    height: 15px;
}
.background-logo-ninja{
    background-size: 1235% 680.7692307692307%;
    background-position: 55.947136563876654% 6.622516556291391%;
    width: 50px;
    height: 20px
}
.background-logo-best{
    background-size: 1029.1666666666667% 590%;
    background-position: 13.452914798206278% 6.802721088435374%;
    width: 55px;
    height: 22px;
}