.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.navbar {
    width: 1150px;
    height: 100%;
    padding: 0 22px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-setting {
    min-width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.action-btn {
    border: none;
    background-color: transparent;
    min-width: 32px;
    padding: 2px;
}

.avatar-user {
    border-radius: 50%;
    object-fit: cover;
    width: 32px;
    height: 32px;
}